# Dependencias
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilados
/dist
/build
/out

# Varios
.DS_Store
Thumbs.db
.idea/
.vscode/
